.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 720px;
  z-index: 2;
  list-style: none;
  color: white;
}

.background {
  width: 100%;
  height: 720px;
  padding-left: 135px;
  background-image: url('../../images/Subtract.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: 118px;
}

.title {
  display: flex;
  max-width: 385px;
  font-size: 64px;
}

.description {
  display: flex;
  line-height: 1.5;
  width: 367px;
  font-size: 16px;
}

.poster {
  width: 802px;
}

.startBtn {
  width: 130px;
  height: 48px;
  margin-top: 36px;
  border-radius: 74px;
  background: linear-gradient(to top left, #f84119, #ffc226);
  border: 0px solid;
  font-size: 16px;
  font-weight: bold;
}
